  *{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
  }
  .App{
    background-color: antiquewhite;
  }
  .home_page{
    border: 5px solid ;
    padding:25px;
  }
  .App h3{
    text-align: center;
  }
  .header{
    display: flex;
    justify-content: space-between;
  }
  .title{
    margin-left: 71px;
  }
  .input{
    width:150px;
  }
  .button{
    width: 60px;
    background-color: gray;
    margin-left: 8px;
    cursor: pointer;
  }
  .image{
    margin-top:30px;
  }
  .image img{
    width: 100%;
    padding: 24px;
  }
  .date{
    text-align: center;
  }
  .footer{
    text-align: center;
  }
  .image_section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:40px ;
  }
  .data_title{
    text-align: center;
    font-size: 20px;
  }
  .date_created{
    text-align: center;
    font-size: 21px;
  }  
  .second_header{
    text-align: center;
  }
  .search_title{
    text-align: center;
    background-color: salmon;
    width: 300px;
    margin: auto;
    font-weight: bold;
  }
  .explanation{
    padding: 21px;
  }
  .search_img img{
    width: 400px;
    object-fit: fill;
    height: 400px;
  }

  .img_card {
    border: gray solid 0.5px;
    padding: 5px;
    margin: 10px;
  }

  .card_title {
    text-align: center;
    color:black;
  }
  .pagination{
    margin-left: 500px;
    padding-bottom: 50px;
  }
  .details {
    margin: auto;
    width: 300px;
  }